.idea/*
.project
.settings/*
*/.settings/*
*/.classpath
*/.project
*/target/*

*.iml
*/*.*.iml
rebel.xml
*/rebel.xml

nodejs/logs/*
nodejs/.idea/*
nodejs/node_modules

antx.properties
jrebel.properties

*.bat

*/bin/*
logs/*
*.log
*/*.log
web/*.log
web/*.log.*
web/hsf.configuration/*
nodejs/.idea/
*target/*
.classpath
nodejs/.idea/workspace.xml
